---
---

@import "{{ site.theme }}";
.centered {text-align:center}
img.centered {height:100px;}
table (background-color:#f9f9f9)
table.one th,table.one tr {width:100%;}
table.two th,table.two tr {width:50%;}
table.three th,table.three tr {width:33%;}
th.four,tr.four {width:25%;}
th,tr {text-align:center;}
table, th, td, tr {border-right:1px solid white !important;border-left:1px solid white !important;vertical-align:top;}
h1,h2,h3,h4 {color:#033c5a}
.page-header {background-color:#033c5a}