---
---

@import "{{ site.theme }}";
.centered {text-align:center}
img.centered {height:80px;}
table {background-color:#f9f9f9}
table.two th,table.two tr {width:50%;}
table.three th,table.three tr {width:33%;}
th.four,tr.four {width:25%;}
th,tr {text-align:center;}
table, th, td, tr {border-right:1px solid white !important;border-left:1px solid white !important;vertical-align:top;}
.page-header {background-color: #033c5a;background-image: linear-gradient(120deg, #155799, #033c5a);}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {color:black;margin-top: 3rem;}
hr {margin:3rem 0;}